{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block loginactive %}active{% endblock loginactive %}
{% block body %}

<!-- template for login form -->
<div class="container pt-4">
    <div class="col-lg-4 shadow mx-auto p-0 mt-4">
        <div class="alert alert-info">
            <h2>Login Here</h2>
        </div>
        <div class="p-4">
            <form action="/login/" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <hr>
                <input class="btn btn-info" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>

{% endblock body %}